
@{
    ViewData["Title"] = "My Purchases";
}
@{
    Layout = "/Views/Shared/_MyPurchasesPageLayout.cshtml"; }

@{
    var PurchaseHistory = (List<PurchaseHistory>)ViewData["PurchaseHistory"];
}
@section Scripts
{
    <script src="/lib/font-awesome/js/purchaseDate.js"></script>
}

@using X.PagedList.Mvc.Core;
@using X.PagedList;


<h4 class="purchaseHistoryTitle">My Purchases</h4>

<table class="table purchaseHistoryPage">
    <thead class="thead-light">
        <tr>
            <th scope="col"></th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Quantity</th>
            <th scope="col">Price</th>
            <th scope="col">Purchase Date</th>
            <th scope="col">Activation Code</th>
        </tr>
    </thead>
    <tbody>
        @if (PurchaseHistory != null)
        {
            @foreach (var purchase in ViewBag.OnePageOfProducts)
            {
                <tr>
                    <td><img src="@purchase.Image" alt="CounterStrike Logo" height="150" width="150"></td>
                    <td style="display:none" id="product" class="product">@purchase.ProductID</td>
                    <td>@purchase.ProductName</td>
                    <td style="text-align: left;">@purchase.ProductDescription</td>
                    <td>@purchase.Quantity</td>
                    <td>@purchase.Price</td>
                    <td>
                        <select name="date" id="date" class="date_option">
                            @foreach (var item in purchase.DateOfPurchase)
                            {
                                <option value=@item>@item</option>
                            }
                        </select>
                    </td>

                    <td>
                        <select name="status" id="status" class="activation_status">
                            @foreach (var status in purchase.ActivationStatus)
                            {
                                <option value=@status>@status</option>
                            }

                        </select>
                    </td>

                </tr>
            }
        }
    </tbody>
</table>
<div style="display: flex; width: 52%; flex:auto; justify-content: flex-end;">
    @Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Index", new { page }))
</div>

