
@{
    ViewData["Title"] = "Shopping Cart";
}

@{ Layout = "/Views/Shared/_Layout_ShoppingCart.cshtml";}

@{
    var cartitems = (List<CartDetail>)ViewData["usercart"];
    double totalprice = 0;
}



<h3 class="pageHeader">Shopping Cart</h3>

<div class="shoppingCartTable" , id="shoppingCartTable">
    <script>AddListeners();</script>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col"></th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Quantity</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Sub-Total</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cartitem in cartitems)
            {
                {
                    totalprice = totalprice + cartitem.UnitPrice * cartitem.qty;
                    <tr>
                        <td><img src="@cartitem.ProductImg" alt="Dota2 Logo" height="150" width="150"></td>
                        <td>@cartitem.ProductName</td>
                        <td>@cartitem.ProductDesc</td>
                        <td>
                            <button type="button" name="subtract-from-cart" class="minusButton" id="@cartitem.ProductId">-</button><input class="quantity" name="edit-cart-quantity" type="text" onkeypress="return event.charCode >= 48" value=@cartitem.qty id="@cartitem.ProductId"><button type="button" name="add-to-cart" class="plusButton" id="@cartitem.ProductId">+</button>
                            <br />
                            <button type="button" name ="remove-from-cart"class="removeAllButton" id="@cartitem.ProductId">Remove From Cart</button>
                        </td>
                        <td>@cartitem.UnitPrice</td>
                        <td>@string.Format("{0:C}", (cartitem.UnitPrice * cartitem.qty))</td>
                    </tr>
                }
            }
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td><b>Total:</b></td>
                <td class="totalPrice">@string.Format("{0:C}", totalprice)</td>
            </tr>
        </tbody>
    </table>
</div>

<input type="submit" value="Checkout" class="checkoutBtn btn btn-primary">

